@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('./circular/CircularStd-Book.woff') format('woff');
}

body{
    font-family: "Circular Std Book" !important;
    background-color:#000000 !important;
    color: #999 !important;
}
body h4{
    color: #999 !important;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.title {
    position: absolute;
    text-align: center;
    top: 47%;
    -webkit-transform: translateY(-47%);
    transform: translateY(-47%);
    width: 100%;
}
.card{
    background-color: #2a2a2e !important;
}
.list-group-item{
    background-color: #2a2a2e !important;
}
.list-group-item-action{
    color: #999 !important;
}


@media (min-width: 576px){
    .card-columns-custom {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (min-width: 900px){
    .card-columns-custom {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
@media (max-width: 576px){
    .card-columns-custom {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 2;
        widows: 2;
    }
}
@include media-breakpoint-only(lg) {
    column-count:5;
}
@include media-breakpoint-only(xl) {
    column-count: 5;
}
.badge-primary{
    background: #ce2424 !important;
}
.plyr__control--overlaid {
    background: #ce2424 !important;
}
.plyr--full-ui input[type=range]{
    color:  #ce2424 !important;
}
#thumb .plyr__controls{
    display: none !important;
}
.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: #ce2424 !important;
    color: #fff;
}
.fa-red{
    color:  #ce2424 !important;
}
.text-right{
    float:right;
}